<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
  {{>header}}

  <section class="section" id="testmonial">
    <div class="container">
      <h3 class="section-title">{{title}}</h3>
        <div class="item">
          <div class="textmonial-item">
            <img src="/imgs/avatar.jpg" class="avatar"
              alt="sajadzarepour" />
            <div class="des">
              <h5 class="ti-quote-left font-weight-bold"></h5>
              <p class="aboutMe">
                Hi, I'm Sajjad Zarepour and the only thing I know is that I know nothing. I am interested in web develping and the word of 0️⃣and 1️⃣
              </p>
              <h5 class="ti-quote-left text-right font-weight-bold"></h5>

              <div class="line"></div>
              <h6 class="name">Sajad Zarepour</h6>
              <h6 class="xs-font">Web developer</h6>
            </div>
          </div>
        </div>
      </div>
  </section>
  {{>footer}}
  {{>js}}
</body>

</html>